<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<title>助けマス | 会員登録</title>
	<meta content="助けマス" name="title">
	<meta content="Qさまの人気クイズ「助けマス」を再現！" name="description">
	<meta content="クイズ" name="keywords">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
	<main class="p-top-main l-main">
		<h1>助けマス | 会員登録</h1>
		<form action="" class="l-form" method="post">
			<div class="l-form-wrapper">
				<div class="l-form-wrapper__input-wrap">
					<p class="l-form-wrapper__input-title">ログインID
					</p>
					<input class="l-form-wrapper__input" type="text"  placeholder="例)user0123"  name="id" value='<%= (typeof value.id === "undefined") ? "" : value.id %>'>
					<p class="l-form-wrapper__input-error"><%= (typeof error.id == "undefined") ? "" : error.id %></p>
				</div>
				<div class="l-form-wrapper__input-wrap">
					<p class="l-form-wrapper__input-title">パスワード
					</p>	
					<input class="l-form-wrapper__input" type="text" name="pass">
					<p class="l-form-wrapper__input-error"><%= (typeof error.pass == "undefined") ? "" : error.pass %></p>
				</div>
				<div class="l-form-wrapper__input-wrap">
					<p class="l-form-wrapper__input-title">苗字
					</p>
					<p class="l-form-wrapper__input-explain">最大３文字</p>	
					<input class="l-form-wrapper__input" type="text"  placeholder="例）山田" name="lastName" value='<%= (typeof value.lastName === "undefined") ? "" : value.lastName %>'>
					<p class="l-form-wrapper__input-error"><%= (typeof error.lastName == "undefined") ? "" : error.lastName %></p>
				</div>
				<div class="l-form-wrapper__input-wrap">
					<p class="l-form-wrapper__input-title">名前
					</p>	
					<p class="l-form-wrapper__input-explain">最大３文字</p>	
					<input class="l-form-wrapper__input" type="text"  placeholder="例）太朗" name="firstName" value='<%= (typeof value.firstName === "undefined") ? "" : value.firstName %>'>
					<p class="l-form-wrapper__input-error"><%= (typeof error.firstName == "undefined") ? "" : error.firstName %></p>
				</div>
				<div class="l-form-wrapper__input-wrap">
					<p class="l-form-wrapper__input-title">年齢
					</p>	
					<p class="l-form-wrapper__input-explain">半角数字で入力</p>	
					<input class="l-form-wrapper__input" type="text"  placeholder="例）23" name="age" value='<%= (typeof value.age === "undefined") ? "" : value.age %>'>
					<p class="l-form-wrapper__input-error"><%= (typeof error.age == "undefined") ? "" : error.age %></p>
				</div>
				<div class="l-form-wrapper__input-wrap">
					<p class="l-form-wrapper__input-title">職業学歴等
					</p>	
					<p class="l-form-wrapper__input-explain">最大４文字であなたを表す単語をお書きください。</p>
					<input class="l-form-wrapper__input" type="text"  placeholder="例）東大卒、IT学科、会社員、学校教員…等" name="info" value='<%= (typeof value.info === "undefined") ? "" : value.info %>'>
					<p class="l-form-wrapper__input-error"><%= (typeof error.info == "undefined") ? "" : error.info %></p>
				</div>
				<div class="l-form-wrapper__input-wrap">
					<p class="l-form-wrapper__input-title">コメント
					</p>	
					<p class="l-form-wrapper__input-explain">最大１０文字で自己紹介になる単語や文章を書いて下さい。</p>
					<input class="l-form-wrapper__input" type="text"  placeholder="例）「東大理学部を卒業！」「専門大学IT学部２年」「ヒラメキの天才」…など" name="comment" value='<%= (typeof value.comment === "undefined") ? "" : value.comment %>'>
					<p class="l-form-wrapper__input-error"><%= (typeof error.comment == "undefined") ? "" : error.comment %></p>
				</div>
				<button type="submit" class="c-upper-light-button--blue mc mt50">登録する</button>
			</div>
		</form>	
	</main>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
	<script src="/javascripts/chat.js"></script>
</body>

</html>